# General
#telethon
telethon~=1.17.0
aiogram

# DBs
redis
aioredis # Redis memory storage fom aiogram
pymongo
motor
dnspython # needed to connect to cloud MongoDB instances

# Optional deps to make bot faster
aiohttp[speedups]
cryptg
cryptography

# Other
envparse
hypercorn
aiocron
apscheduler
requests
ujson
PyYAML>5.0
coloredlogs
loguru
sentry_sdk
babel
captcha
async-timeout
regex
jikanpy
bs4
