# AllMight example config

# Basic
TOKEN: "YOUR_TOKEN"

# Get they in https://my.telegram.org/
APP_ID: 1234
APP_HASH: "YOUR_APP_HASH"

MONGO_URI: mongodb+srv://daisy:daisy@cluster0.ffb4i.mongodb.net/DaisyX?retryWrites=true&w=majority
MONGO_PORT: 27017
MONGO_DB: 'DaisyX'

REDIS_URI: redis-10514.c241.us-east-1-4.ec2.cloud.redislabs.com:10514
REDIS_PORT: 6379
REDIS_DB_FSM: 1

OWNER_ID: 483808054
OPERATORS: [483808054, 00000000]
DEVS: []

# Advanced
SENTRY_API_KEY: "SENTRY_API_URL"

DEBUG_MODE: False
LOAD_MODULES: True

ALLOW_FORWARDS_COMMANDS: False
ALLOW_COMMANDS_WITH_!: False
